<a href="https://colab.research.google.com/github/FSOH/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf
import os

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [17]:
# Drop 'EIN'
application_df.drop(columns=['EIN'], axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Apps < 500")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3            27037
T4             1542
T6             1216
T5             1173
T19            1065
T8              737
T7              725
T10             528
Apps < 500      276
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Classification < 1000")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000                    17326
C2000                     6074
C1200                     4837
Classification < 1000     2261
C3000                     1918
C2100                     1883
Name: CLASSIFICATION, dtype: int64

In [20]:
# Define bins
bins = [0, 10000, 50000, 100000, np.inf]
labels = ['0-10k', '10k-50k', '50k-100k', '100k+']

# New column for the dataframe with the binned values
application_df['ASK_AMT_RANGE'] = pd.cut(application_df['ASK_AMT'], bins=bins, labels=labels)

In [21]:
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [22]:
names_to_replace = list(application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < 5].index)
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"names<10")
application_df['NAME'].value_counts()

names<10                                                             19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_RANGE_0-10k,ASK_AMT_RANGE_10k-50k,ASK_AMT_RANGE_50k-100k,ASK_AMT_RANGE_100k+
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [24]:
application_df.drop(columns=['ASK_AMT'], inplace=True)
application_df.columns

Index(['STATUS', 'IS_SUCCESSFUL', 'NAME_AACE INTERNATIONAL',
       'NAME_ACE MENTOR PROGRAM OF AMERICA INC', 'NAME_ACTS MINISTRY',
       'NAME_ACTS MISSIONS',
       'NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS',
       'NAME_AIR FORCE ASSOCIATION', 'NAME_ALABAMA FEDERATION OF WOMENS CLUBS',
       'NAME_ALABAMA TREASURE FOREST ASSOCIATION',
       ...
       'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+',
       'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y', 'ASK_AMT_RANGE_0-10k',
       'ASK_AMT_RANGE_10k-50k', 'ASK_AMT_RANGE_50k-100k',
       'ASK_AMT_RANGE_100k+'],
      dtype='object', length=450)

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  97
hidden_nodes_layer2 = 11
hidden_nodes_layer3 = 25
hidden_nodes_layer4 = 11

output_dim = 1



nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="sigmoid"))




# Output layer
nn_model.add(tf.keras.layers.Dense(output_dim, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 97)                43650

 dense_1 (Dense)             (None, 11)                1078

 dense_2 (Dense)             (None, 25)                300

 dense_3 (Dense)             (None, 11)                286

 dense_4 (Dense)             (None, 1)                 12

=================================================================
Total params: 45326 (177.05 KB)
Trainable params: 45326 (177.05 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
nn_model.compile(loss="mse", optimizer="rmsprop", metrics=["accuracy"])

In [29]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, initial_epoch= 0)

Epoch 1/100
804/804 [==============================] - 6s 4ms/step - loss: 0.1851 - accuracy: 0.7337
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1457 - accuracy: 0.7958
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1434 - accuracy: 0.7970
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1422 - accuracy: 0.7991
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1413 - accuracy: 0.8001
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1408 - accuracy: 0.8015
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1404 - accuracy: 0.8010
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1400 - accuracy: 0.8014
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1400 - accuracy: 0.8003
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1396 - accuracy: 0.8020
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1392 - accuracy: 0.8022
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1389 - accuracy: 0.8022
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1388 - accuracy: 0.8021
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1385 - accuracy: 0.8030
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1384 - accuracy: 0.8032
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1382 - accuracy: 0.8034
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1379 - accuracy: 0.8032
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1376 - accuracy: 0.8046
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1374 - accuracy: 0.8039
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1373 - accuracy: 0.8043
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1372 - accuracy: 0.8052
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1370 - accuracy: 0.8052
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1369 - accuracy: 0.8053
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1366 - accuracy: 0.8053
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1365 - accuracy: 0.8056
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1363 - accuracy: 0.8058
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1362 - accuracy: 0.8066
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1359 - accuracy: 0.8067
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1360 - accuracy: 0.8056
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1358 - accuracy: 0.8063
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1356 - accuracy: 0.8059
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1355 - accuracy: 0.8072
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1355 - accuracy: 0.8063
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1355 - accuracy: 0.8067
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1353 - accuracy: 0.8075
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1352 - accuracy: 0.8075
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1351 - accuracy: 0.8071
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1349 - accuracy: 0.8082
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1349 - accuracy: 0.8081
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1348 - accuracy: 0.8072
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1348 - accuracy: 0.8083
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1346 - accuracy: 0.8077
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1346 - accuracy: 0.8074
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1346 - accuracy: 0.8079
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1344 - accuracy: 0.8075
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1343 - accuracy: 0.8087
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1342 - accuracy: 0.8082
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1342 - accuracy: 0.8090
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1341 - accuracy: 0.8082
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1340 - accuracy: 0.8086
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1341 - accuracy: 0.8090
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1338 - accuracy: 0.8083
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1338 - accuracy: 0.8082
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1338 - accuracy: 0.8085
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1336 - accuracy: 0.8084
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1336 - accuracy: 0.8097
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1335 - accuracy: 0.8104
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1335 - accuracy: 0.8092
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1333 - accuracy: 0.8096
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1333 - accuracy: 0.8102
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1333 - accuracy: 0.8094
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1333 - accuracy: 0.8096
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1332 - accuracy: 0.8099
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1332 - accuracy: 0.8105
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1329 - accuracy: 0.8093
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1332 - accuracy: 0.8092
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1330 - accuracy: 0.8102
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1331 - accuracy: 0.8097
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1331 - accuracy: 0.8101
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1330 - accuracy: 0.8093
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1330 - accuracy: 0.8100
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1329 - accuracy: 0.8108
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1328 - accuracy: 0.8109
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1328 - accuracy: 0.8111
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1329 - accuracy: 0.8118
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1327 - accuracy: 0.8110
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1327 - accuracy: 0.8102
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1328 - accuracy: 0.8111
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1327 - accuracy: 0.8116
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1325 - accuracy: 0.8116
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1326 - accuracy: 0.8104
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1324 - accuracy: 0.8119
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1324 - accuracy: 0.8103
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1325 - accuracy: 0.8102
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1324 - accuracy: 0.8117
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1325 - accuracy: 0.8108
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1324 - accuracy: 0.8109
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1324 - accuracy: 0.8116
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1323 - accuracy: 0.8109
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1323 - accuracy: 0.8118
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1322 - accuracy: 0.8117
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1323 - accuracy: 0.8115
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1322 - accuracy: 0.8115
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1323 - accuracy: 0.8111
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1322 - accuracy: 0.8120
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1321 - accuracy: 0.8113
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1321 - accuracy: 0.8124
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1321 - accuracy: 0.8124
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1321 - accuracy: 0.8117
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1321 - accuracy: 0.8114

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.1438 - accuracy: 0.7934 - 1s/epoch - 5ms/step
Loss: 0.14381921291351318, Accuracy: 0.7933527827262878

In [36]:
#Import our model to HDF5 file

nn_model.save("AlphabetSoupOptimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [37]:
os.path.dirname(os.path.realpath('AlphabetSoupOptimization.h5'))

'/content'